@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  background-image: url(../img/bg\ driver.png);
  background-size: cover;
  width: auto;
  height: 600px;
}

body {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.form-signin {
  background-color: #fff;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.buatAkun{
  margin-top: 30px;
}